nav {
    background-color: #b54c18;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    display: grid;
    place-items: center;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}