
.spesifik-book{
    margin: 10% 5% 0% 5%;
    display: flex;
    justify-content: space-around;
    #book-img{
        max-width: 30vh;       
    }
    .content{
        width: 50vh;
        .description{
            font-size: large;
        }
    }
}