body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

h1, h2, p {
    font-family: 'Spotify-Font', sans-serif;
}

.top-banner{
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom:#b54c18 solid 10px;
    border-left:#b54c18 solid 10px;
    border-right:#b54c18 solid 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.top-banner-content {
    position: absolute;
    text-align: center;
}

.top-banner h1 {
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

.top-banner h2 {
    margin-top: 0px; 
}

.top-banner .admin-button {
    padding: 10px 20px;
    margin-top: 20px;
}

#book-header{
    text-align: center;
    color: white;
    background-color: #b54c18;
    margin-top: -20px;
    padding: 10px 0 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-container{
    margin: 0 auto;
    width: 80%;
}

.container-book-shelf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #b54c18;
    color: white;
    border: none;
    padding: 10px 20px;
}

button:hover, button:active {
    background-color: #c7531a;
}

#book-img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.book-container {
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.book-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}