.top-banner{
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container{
    margin: 0 auto;
    width: 50%;
}

.container-book-shelf{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
}

h1{
    text-align: center;
}

body {
    background-color: white;
    color: black;
}

h1, h2, p {
    font-family: 'Spotify-Font', sans-serif;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.container-book-shelf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #b54c18;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover, button:active {
    background-color: #c7531a;
}

#book-img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.book-container {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.book-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.book-container img {
    animation: spin 0.5s ease-in-out infinite;
}