body {
    background-color: white;
    color: black;
}

h1, h2, p {
    font-family: 'Spotify-Font', sans-serif;
}

#books-container{
    margin: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px
}

table {
    margin-left: auto;
    margin-right: auto;
    width:80%
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr{
    height: 40px;
}

span{
    padding-left: 5px;
    padding-right: 5px;
}
.actions{
    text-align: center;
}

.buttons button{
    width: 180px;  
}

button {
    background-color: #b54c18;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer; 
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
}

button:hover, button:active {
    background-color: #c7531a;
}

.no-books{
    text-align: center;
}